<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="alignment_render.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Alignment of {{ identifier }}</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>
            Language
          </th>
          <th>
            Number of sentences
          </th>
        </tr>
      </thead>
      <tbody>
        {% for language, num_sentences in stats %}
          <tr>
            <td>{{ language }}</td><td>{{ num_sentences }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <br/>
    <br/>

    <table>
      <thead>
        <tr>
          {% for language in languages %}
            <th>{{ language }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in renderable_alignment_data %}
          <tr>
            {% for unused_language, sentence in row %}
              <td>{{ sentence }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
  </body>
</html>
